<div class="sing_in__wrapper">
    <div class="container">
        <div class="sing_in">
            <div class="sing_in__icons__wrapper desktop hidden-xs-down">
                <ul class="sing_in__icons">
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-facebook-f"></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-twitter"></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-pinterest-p"></i></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-vk"></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-google-plus-g"></i></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-behance"></i></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-dribbble"></i></i></a></li>
                    <li class="sing_in__icons__item"><a href="#"><i class="icons__color fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="sing_in__lang__wrapper">
                <div class="sing_in__link">
                    <a href="#"  class="sing_in__link__text"><i class="icons__color fas fa-user-circle"></i> sing in</a>
                </div>
                <div class="sing_in__language">
                    <i class="icons__color fas fa-globe"></i>
                    <a  class="sing_in__link__text" >eng <i class="icons__color fas fa-angle-down"></i> </a>
                </div>

            </div>
        </div>
    </div>
</div>