@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins/mixins.scss";

.sing_in {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;

    &__wrapper {
        margin: 0 auto;
        border: 1px solid black;

        height: 40px;
        background-color: $background_color_dark_black;
    }

    &__icons {
        display: flex;

        &__wrapper {
            width: 60%;
        }

        &__item {
            padding-right: 10px;
            color: $color_text_white;
        }
    }

    &__lang__wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__language {
        display: flex;
    }

    &__link {
        display: flex;

        &__text {
            opacity: 0.5;
            color: #ffffff;
            font-family: $main_font;
            font-size: 16px;
            font-weight: 400;
            font-variant: small-caps;
            letter-spacing: 0.8px;
            font-weight: 400;
        }
    }

}

.icons__color{
    @include icons__color__light;

}