<div class="sing_in__wrapper">
    <div class="sing_in__language"><i class="icon language"></i><select size="3" multiple name="hero[]">
            <option value="eng">eng</option>
            <option value="ukr">ukr</option>
            <option value="rus">rus</option>
        </select> </div>
    <div class="sing_in"><a href="#"> sing in</a></div>
</div>