<div class="icons__wrapper desktop">
    <ul class="icons">
        <li class="icons__item"><a href="#"><i class="icon ion-social-facebook"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-vkontakte"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-google"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-dribbble"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-instagram"></i></a></li>
    </ul>
</div>


<div class="icons__wrapper mobile">
    <ul class="icons">
        <li class="icons__item"><a href="#"><i class="icon ion-social-facebook"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-vkontakte"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-tumblr"></i></a></li>
        <li class="icons__item"><a href="#"><i class="icon ion-social-dribbble"></i></a></li>
    </ul>
</div>