<footer class="footer">
    <div class="container">
        <div class="footer__desktop"  >
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>home</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>portfolio</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>blog</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>pages</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>shop</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>components</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>features</a></li>
                </ul>
            </nav>
            <div class="footer__search">search<i class="icon search"></i></div>
            <div class="sing_in__language"><i class="icon language"></i><select size="3" multiple name="hero[]">
                <option value="eng">eng</option>
                <option value="ukr">ukr</option>
                <option value="rus">rus</option>
            </select> </div>
        </div>
        <div class="footer__mobile">
            <%- include('../../common/icons/icons.ejs') -%>
            <div class="footer__mobile__subtitle">&#169; 2016 LOGO | All Rights Reserved  </div>
        </div>
    </div>
</footer>