@import "../../../styles/variables.scss";
@import "../../../styles/mixins/mixins.scss";


.footer{
    
background-color: #303030;
&__desktop{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.menu {
    width: 70%;

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;


        &__item {
            &__link {
                margin-top: 10px;
                font-family: $main_font;
                color: $color_text_white;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.7px;
            }
        }
    }

}
