<footer class="footer">
    <div class="container">
        <div class="footer__desktop"  >
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>home</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>portfolio</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>blog</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>pages</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>shop</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>components</a></li>
                    <li class="menu__list__item"><a href="#" class='menu__list__item__link'>features</a></li>
                </ul>
            </nav>
            <div class="footer__search">search<i class="fas fa-search"></i></div>
            <div class="sing_in__language">
                <i class="icons__color fas fa-globe"></i>
                <a  class="sing_in__link__text" >eng <i class="icons__color fas fa-angle-down"></i> </a>
            </div>
        </div>
        <div class="footer__mobile hidden">
            <%- include('../../common/icons/icons.ejs') -%>
            <div class="footer__mobile__subtitle hidden">&#169; 2016 LOGO | All Rights Reserved  </div>
        </div>
    </div>
</footer>