<div class="galere__wrapper">
    <div class="galere"><img src="./images/man.png" alt="man" class="galere__items"></div>
    <div class="galere"><img src="./images/rock.png" alt="rock" class="galere__items"></div>
    <div class="galere"><img src="./images/book.png" alt="book" class="galere__items"></div>
    <div class="galere"><img src="./images/flowers.png" alt="flowers" class="galere__items"></div>
    <div class="galere"><img src="./images/water.png" alt="water" class="galere__items"></div>
    <div class="galere"><img src="./images/town.png" alt="town" class="galere__items"></div>
    <div class="galere"><img src="./images/girl.png" alt="girl" class="galere__items"></div>
    <div class="galere"><img src="./images/pink_flower.png" alt="pink_flower" class="galere__items"></div>
</div>


<div class="subscribe__wrapper">
    <div class="container">
        <div class="subscribe">
            <div class="subscribe__inner">
                <p class="subscribe__title">Subscribe to our newsletter</p>
            </div>
            <div class="subscribe__inner">
                <input class="subscribe__email" type="text" placeholder="Email Adress">
            </div>
            <div class="subscribe__submit"><a class="subscribe__submit__btn" href="#">
                    <p class='subscribe__submit__btn__text'>read more</p>
                </a>
            </div>


        </div>
    </div>
</div>

<div class="subscribe_bar__wrapper">
    <div class="container">
        <div class="subscribe_bar">
            <div class="subscribe_bar__section">
                <div class="subscribe_bar__section__title__inner">
                    <p class="subscribe_bar__section__title">pages widget</p>
                </div>
            </div>
            <div class="subscribe_bar__section">
                <div class="subscribe_bar__section__title__inner">
                    <p class="subscribe_bar__section__title">twitter widget</p>
                </div>
            </div>
            <div class="subscribe_bar__section">
                <div class="subscribe_bar__section__title__inner">
                    <p class="subscribe_bar__section__title">flickr widget</p>
                </div>
                <div class="subscribe_bar__section__content__wrapper">
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_33.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_34.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_43.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_39.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_37.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_38.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_41.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_42.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                    <div class="subscribe_bar__section__content__img__inner"><img src="./images/Layer_35.png"
                            alt="layer" class="subscribe_bar__section__content__img"></div>
                </div>
            </div>
            <div class="subscribe_bar__section">
                <div class="subscribe_bar__section__title__inner">
                    <p class="subscribe_bar__section__title">news letter</p>
                </div>

                <div class="subscribe_bar__section__input__wrapper"><input type="text" placeholder="Name "
                        class="subscribe_bar__section__input"></div>
                <div class="subscribe_bar__section__input__wrapper"><input type="email" placeholder="Email Address "
                        class="subscribe_bar__section__input"></div>
                <div class="subscribe_bar__section__input__wrapper"><textarea type="text" placeholder="Message "
                        class="subscribe_bar__section__input"></textarea></div>
                <div class="subscribe_bar__section__input__wrapper"><input type="submit" placeholder=" "
                        class="subscribe_bar__section__input"></div>
            </div>
        </div>
    </div>
</div>