@import "../../../styles/variables.scss";
@import "../../../styles/mixins/mixins.scss";

.header {
    position: relative;

    padding-bottom: 20px;
    width: 100%;
    z-index: 9;

&__menu__wrapper{
    padding: 12px 0 ;
    background-color: $background_color_black;
    opacity: 0.87;
}
    &__menu__inner {
        width: 100%;
        display: flex !important;
        justify-content: space-between !important;
        


    }
}