<header class="header">

    <%- include('sections/sing_in/sing_in.ejs') %>
    <div class="header__menu__wrapper">
        <div class="container">
            <div class="header__menu__inner">
                <%- include('sections/logo/logo.ejs') %>

            </div>
        </div>
    </div>
</header>