<div class="container">
    <div class="sort_panel">
        <p class="sort_panel__title">sort blog:</p>
        <ul class="sort_panel__list">
            <li class="sort_panel__list__item"><a href="#" class="sort_panel__list__item__link">all </a></li>
            <li class="sort_panel__list__item"><a href="#" class="sort_panel__list__item__link">photography</a></li>
            <li class="sort_panel__list__item"><a href="#" class="sort_panel__list__item__link">lifestyle</a></li>
            <li class="sort_panel__list__item"><a href="#" class="sort_panel__list__item__link">trip</a></li>
            <li class="sort_panel__list__item"><a href="#" class="sort_panel__list__item__link">inspiration</a></li>
        </ul>

    </div>
</div>