@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins/mixins.scss";

.sort_panel {

    display: flex;

    &__wrapper {
        margin: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        box-shadow: 0 1px 0 #dddddd;
        background-color: $background_color_white;
        font-family: $main_font;
        text-transform: uppercase;

    }

    &__title {
        padding-right:15px ;
        width: 15%;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        width: 75%;
        display: flex;

        &__item {

            padding-right: 15px;
            display: flex;
            justify-content: space-between;

            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding:10px 28px ;
                border-radius: 15px;
                background-color: #f5f5f5;
                color: $color_text_dark_black;
                font-weight: 400;


            }
            &__link:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color_text_blue;
                padding:10px 28px ;
                border-radius: 15px;
                border: 1px solid $color_text_blue;
            }
        }
    }
}