<div class="hero">
    <div class="hero__title__wrapper">
        <div class="hero__title__inner">
            <span class="hero__title uppercase">inspiration</span>
        </div>
        <div class="hero__subtitle__inner">
            <div class="hero__subtitle uppercase">Lorem Ipsum is simply dummy text of
                the printing and typesetting industry</div>
        </div>
        <div class="hero__btn__wrapper">
            <a href="#">
                <p class='hero__btn'>read more</p>
            </a>
        </div>
        <div class="hero__profile__inner">
            <img src="" alt="photo" class="hero__profile__photo">
            <p class="hero__profile__name">Henry Little</p>
            <p class="hero__profile__date">Apri 28, 2016 10:15</p>
            <div class="hero__profile__comm__wrapper">
                <div class="hero__profile__comm"><a href="#"> <i class="icon"></i> comments(28)</a></div>
                <div class="hero__profile__likes"><a href="#"> <i class="icon"></i> likes(07)</a></div>
            </div>

        </div>
    </div>
</div>