<div class="hero">

    <div class="hero__img__wrapper">
        <div class="container">
            <div class="hero__title__wrapper">
                <div class="hero__title__inner">
                    <p class="hero__title ">inspiration</p>
                </div>
                <div class="hero__subtitle__inner">
                    <p class="hero__subtitle ">Lorem Ipsum is simply dummy text of
                        the printing and typesetting industry</p>
                </div>
                <div class="hero__btn__inner">
                    <a href="#">
                        <p class='hero__btn'>read more</p>
                    </a>
                </div>
                <div class="hero__profile__inner">
                    <img src="./images/Photo_copy_3.png" alt="photo" class="hero__profile__photo">
                    <p class="hero__profile__name">Henry Little</p>
                    <p class="hero__profile__date">Apri 28, 2016 10:15</p>
                    <div class="hero__profile__comm__wrapper">
                        <div class="hero__profile__comm"><a href="#"> <i class="icon"></i> comments(28)</a></div>
                        <div class="hero__profile__comm"><a href="#"> <i class="icon"></i> likes(07)</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>