$color_text_gray_footer: #9A9A9A;
$color_text_white:#ffffff;
$color_text_blue:#3f51b5;
$color_text_gray_dark: #60606e;
$color_text_gray_light : #999999;
$color_text_dark_black:#000000;

$background_color_pink:#ff4081;
$background_color_white_gray: #efeff0;
$background_color_white:#ffffff;
$background_color_dark_black:#191919;
$background_color_black:#212121;
$background_color_light_black:#303030;


$main_font: "Montserrat", sans-serif;
$subtitle_font :"Open sans", sans-serif;
$font_width_first:700; 
$font_width_second:400;