<div class="logo">
    <a href="index.html">
        <p class="logo__title">logo</p>
    </a>
</div>




<nav class="menu">
    <ul class="menu__list">
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>home<i
                    class="fas fa-angle-down"></i></a></li>
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>portfolio<i
                    class="fas fa-angle-down"></i></a></li>
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>blog<i
                    class="fas fa-angle-down"></i></a></li>
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>pages<i
                    class="fas fa-angle-down"></i></a></li>
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>shop<i
                    class="fas fa-angle-down"></i></a></li>
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>components<i
                    class="fas fa-angle-down"></i></a></li>
        <li class="menu__list__item"><a href="#" class='menu__list__item__link'>features<i
                    class="fas fa-angle-down"></i></a></li>
    </ul>
</nav>

<div class="for__icons">
    <div class="for__icons__items">
        <i class="fas fa-search"></i>
    </div>
    <div class="for__icons__items">
        <i class="far fa-heart"></i>
    </div>
    <div class="for__icons__items">
        <i class="fas fa-shopping-cart"></i>
    </div>

</div>