<div class="menu__wrapper">
    <div class="container">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>home</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>portfolio</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>blog</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>pages</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>shop</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>components</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>features</a></li>
            </ul>
        </nav>
    </div>
</div> 