<div class="content__wrapper">
    <div class="container">
        <div class="content">
            <div class="content__section__first">
                
                <div class="content__section__img__wrapper"><img src="./images/Layer_48.png" alt=""
                        class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">10 Things To Do To Change Your Life Forever
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">The one constant thing in our life is change.
                            We cannot avoid it and the more we resist change the tougher our life becomes. I know this
                            because I was very skilled at deflecting change in life.</p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <div>
                        <img src="./images/Photo.png" alt="" class="content__section__profile">
                    </div>

                    <div>
                        <p class="content__section__profile__name">Henry Little</p>
                   
                        <p class="content__section__profile__date">Apri 28, 2016 10:15</p>
                    </div>
                </div>
            </div>



            <div class="content__section__second">
                <!--  -->
                <div class="content__section__img__wrapper"><img src="./images/Layer_64.png" alt=""
                        class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">4 Natural Ways To Have Young Skin
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="./images/Photo1.png" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">James Leman</p>
                    <p class="content__section__profile__date">April 28, 2016 </p>
                </div>

                <!--  -->
                <div class="content__section__img__wrapper"><img src="./images/Layer_47.png" alt=""
                        class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">Six Hobbies That Can Help You Beat Stress
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="./images/Photo2.png" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">James Leman</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>

                <!--  -->
                <div class="content__section__img__wrapper"><img src="./images/Layer_49.png" alt=""
                        class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">110 Singals From Your Body Telling You Should
                            Sleep More
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="./images/Photo.png" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">Benjamin Miller</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>

            </div>


            <div class="content__section__third">
                <div class="content__section__img__wrapper"><img src="" alt="" class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">110 Singals From Your Body Telling You Should
                            Sleep More
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">Benjamin Miller</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>
                <!-- -->
                <div class="content__section__img__wrapper"><img src="" alt="" class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">110 Singals From Your Body Telling You Should
                            Sleep More
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">Benjamin Miller</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>
                <!--  -->
                <div class="content__section__img__wrapper"><img src="" alt="" class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">110 Singals From Your Body Telling You Should
                            Sleep More
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">Benjamin Miller</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>
            </div>
            <div class="content__section__fourth">
                <div class="content__section__img__wrapper"><img src="" alt="" class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">110 Singals From Your Body Telling You Should
                            Sleep More
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">Benjamin Miller</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>
                <div class="content__section__img__wrapper"><img src="" alt="" class="content__section__img"></div>
                <div class="content__section__description__wrapper">
                    <div class="content__section__description__title__inner">
                        <p class="content__section__description__title">110 Singals From Your Body Telling You Should
                            Sleep More
                        </p>
                    </div>

                    <div class="content__section__description__subtitle__inner">
                        <p class="content__section__description__subtitle">Lorem ipsum dolor sit amet, to consectetur
                            adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.
                        </p>
                    </div>
                </div>
                <div class="content__section__profile__wrapper">
                    <img src="" alt="" class="content__section__profile">
                    <p class="content__section__profile__name">Benjamin Miller</p>
                    <p class="content__section__profile__date">Apri 28, 2016 </p>
                </div>
            </div>
        </div>
    </div>
</div>