@import '../variables.scss';

@mixin mont_title_content {

    color: $color_text_gray_dark;
    text-transform: uppercase;
    font-family: $main_font;
    font-weight: $font_width_first;
    font-size: 30px;
}

@mixin text_montserrat {
    text-transform: uppercase;
    font-family: $main_font;
    font-weight: $font_width_first;
}

@mixin text_open-sans {
    font-size: 14px;
    font-family: $subtitle_font;
    font-weight: $font_width_second;

}

@mixin icons__color {
    color: $color_text_white;


}

@mixin icons__color__light {
    color: $color_text_white;
    opacity: 0.38;


}

